@model WEB_UI.Models.Pacient
@{
    ViewBag.Title = "Викликати на дім терапевта";
    Layout = "~/Views/Shared/_Pacient.cshtml";
}
<h2>Викликати на дім терапевта</h2>
<hr />
@using (Html.BeginForm("BHTherapist", "WindowPacient", FormMethod.Get, new { @id = "Doctor" }))
{
    Html.RenderAction("QueueToHomeDoctor", "Queue", new { id_pacient = @Model.id, id_specialization = 4 });
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('input#id_visit').val("");
            var form = $('form#Doctor');
            var obj_dt = $('input#curr_date');
            $('#delete-visit').each(function () {
                $(this).on('click', function (event) {
                    event.preventDefault();
                    var id_visit = $(event.currentTarget).attr("data-visit");
                    $('input#id_visit').val(Number(id_visit));
                    form.submit();
                });
            });
            var obj_select = $('select#curr_doctor');
            obj_dt.on('input', function (e) {
                form.submit();
            });
            obj_select.on('change', function (e) {
                form.submit();
            });
        });
    </script>
}

