@model WEB_UI.Models.Pacient
@{
    ViewBag.Title = "Забронювати чергу";
    Layout = "~/Views/Shared/_Pacient.cshtml";
}
<h2>Забронювати чергу</h2>
<hr />
@using (Html.BeginForm("BWTherapist", "WindowPacient", FormMethod.Get, new { @id = "Doctor" }))
{
    @Html.Hidden("id_queue", null)
    Html.RenderAction("QueueToDoctor", "Queue", new { id_pacient = @Model.id, id_specialization = 4 });
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('input#id_visit').val("");
            var form = $('form#Doctor');
            var obj_dt = $('input#curr_date');
          
            $('a#delete-queue').each(function () {
                $(this).on('click', function (event) {
                    event.preventDefault();
                    var id = $(event.currentTarget).attr("data-id");
                    $('input#id_queue').val(Number(id));
                    form.submit();
                });
            });
           
            var obj_select = $('select#curr_doctor');
            obj_dt.on('input', function (e) {
                form.submit();
            });
            obj_select.on('change', function (e) {
                form.submit();
            });
        });
    </script>
}