@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Автоматизована медична інформаційна система (АМІС) — інформаційна система для автоматизації лікувальної установи.</h2>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Вийти...", "Logoff", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    }
    else
    {
        @Html.ActionLink("Авторизуватися", "Login", new { area = "" }, new { @class = "btn btn-primary btn-lg mr-2" })
        @Html.ActionLink("Зареєструватися", "Register", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Класифікація</h1>
        <p>
            І. Залежно від ступеня автоматизації процесів збору й обробки інформації, МІС поділяються на автоматизовані й автоматичні. В автоматизованих системах частина операцій по збору й обробці інформації виконується людиною. Автоматичні системи припускають повне виключення людини з процесів збору й обробки інформації.
        </p>
        <p>
            ІІ. Залежно від типу інформаційної бази, АМІС поділяються на системи, що оперують даними, та системи, що оперують знаннями. Системи другого типу — це експертні системи. Їхнє функціонування істотно спирається на знання, отримані від експертів, а результати функціонування близькі результатам аналітичної діяльності експертів.
        </p>
        <p>
            Інформаційно-логічна система призначена для перетворення інформації таким чином, щоб можна було одержати нову інформацію, відсутню в інформаційному масиві. У системах управління реалізується принципово нова функція — прийняття керуючих рішень.
        </p>
        <p>
            @*@Html.ActionLink("Головна сторінка паціента", "Index", "WindowPacient", new { area = "" }, new { @class = "btn btn-primary btn-lg" })*@
        </p>

    </div>
    <div class="col-md-4">
        <h1>Інформаційне забезпечення АМІС</h1>
        <p>АМІС характеризуються наявністю, як правило, великих обсягів даних і знань. Обробка даних і знань зводиться до трьох основних етапів. На першому етапі елементи інформації розміщуються у визначених структурах — базах даних (БД) і базах знань (БЗ). На другому етапі БД і БЗ піддаються упорядкуванню: змінюється їхня структура, порядок розміщення інформації, характер взаємозв'язків між елементами інформації. На третьому етапі здійснюють експлуатацію БД: пошук потрібної інформації, прийняття рішень, редагування баз даних і знань.</p>
        <p>Інформаційне забезпечення АМІС складають: історії хвороби, виписки з історій хвороби, епікризів, стандартизованих карт обстеження, діагностичні й інформативні оцінки показників і станів, критерії ефективності обстеження і лікування, каталог медичних понять і термінів.</p>
        <p>
            @*@Html.ActionLink("Головна сторінка лікаря", "Index", "WindowDoctor", new { area = "" }, new { @class = "btn btn-primary btn-lg" })*@
        </p>
    </div>
    <div class="col-md-4">
        <h1>Автоматизовані медичні інформаційні системи в Україні</h1>
        <p>В Україні медичні заклади зможуть обирати будь-яку автоматизовану медичну інформаційну систему з-поміж тих, які пройшли перевірку і підключилися до центрального компонента системи «eHealth».</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>